<header>

    <nav class="border-b-2 p-8">
        <ul class="flex justify-between">
            <li><a href="javascript:javascript:history.go(-1)"><i class="fas fa-angle-left"></i></a></li>
            <li><b class="text-lg" id="title">Archive</b></li>
            <li><a href="settings.html"><i class="fas fa-cog text-xl" id="settings"></i></a></li>
        </ul>
            </nav>
           
</header>