<header>

    <nav class="border-b-2 p-8">
        <ul class="flex justify-between">
            <li><a href="javascript:javascript:history.go(-1)"><i class="fas fa-angle-left"></i></a></li>
            <li><b class="text-lg" id="title">News settings</b></li>
            <li></li>
        </ul>
            </nav>
           
</header>