<%- include('../partials/head'); %>
<%- include('../partials/archiveNav'); %>
    <main>
        <section class="bg-gray-400">Archive Main</section>
    </main>
    <%- include('../partials/footer'); %>
    <%- include('../partials/after-footer'); %>