<%- include('../partials/head'); %>
<%- include('../partials/archiveNav'); %>

    <main class="pl-10">
        <section class="flex justify-between items-center h-24" id="europe">
        
        </section>
        <div id="sectioneurope">

        </div>

        <section class="flex justify-between items-center h-24" id="health">
        
        </section>
        <div id="sectionhealth">

        </div>

    <section class="flex justify-between items-center h-24" id="sport">
     
    </section>
    <div id="sectionsport">

    </div>
    
    <section class="flex justify-between items-center h-24" id="buisness">
        
    </section>

    <div id="sectionbuisness">

    </div>

    <section class="flex justify-between items-center h-24" id="travel">
        
    </section>

    <div id="sectiontravel">
<section class="flex justify-between items-center my-6">
    <section>
        <h1>${element.title}</h1>

        <p>
        ${element.description}
        </p>
    </section>
                        <figur class="flex items-center justify-center">
                            <img src="/assets/images/archive.png" alt="" class="h-24 w-24 bg-teal-400 p-8">
                        </figur>
                    </section>
    </div>
    <div id="sectiontravel">
        <section class="flex justify-between items-center my-6">
            <section>
                <h1>${element.title}</h1>
        
                <p>
                ${element.description}
                </p>
            </section>
                                <figur class="flex items-center justify-center">
                                    <img src="/assets/images/delete.png" alt="" class="h-24 w-24 bg-red-600 p-8">
                                </figur>
                            </section>
            </div>
    </main>
   
    <script src="/assets/javascript/lightdark.js"></script>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>