<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>

    <main class="pl-10">
        <section class="flex justify-between items-center h-24" id="europe">
        
        </section>
        <div id="sectioneurope">

        </div>

        <section class="flex justify-between items-center h-24" id="health">
        
        </section>
        <div id="sectionhealth">

        </div>

    <section class="flex justify-between items-center h-24" id="sport">
     
    </section>
    <div id="sectionsport">

    </div>
    
    <section class="flex justify-between items-center h-24" id="buisness">
        
    </section>

    <div id="sectionbuisness">

    </div>

    <section class="flex justify-between items-center h-24" id="travel">
        
    </section>

    <div id="sectiontravel">

    </div>
        
    </main>
    <script src="/assets/javascript/index.js"></script>
    <script src="/assets/javascript/lightdark.js"></script>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>