<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>
    <main>
        <section class="bg-gray-400">indbox Main</section>
        <img src="/assets/images/bil.png" alt="">
    </main>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>