<%- include('../partials/head'); %>
<%- include('../partials/settingNav'); %>
    <main class="bg-gray-400">
        <h1 class="text-teal-400 font-bold text-4xl text-center">Manage</h1>
        <h2 class="text-center">Categories</h2>

        <section>
            <div>
                <h6>
                    EUROPE
                </h6>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                          </div>
            </div>
            <div>
                <h6>
                    HEALTH
                </h6>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                          </div>
            </div>
            <div>
                <h6>
                    SPORT
                </h6>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                  </div>
            </div>
            <div>
                <h6>
                    BUISNESS
                </h6>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                  </div>
            </div>
            <div>
                <h6>
                    TRAVEL
                </h6>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                  </div>
            </div>
        </section>
    </main>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>