<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>
    <main>
        <section class="bg-gray-400">Settings Main</section>
    </main>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>