@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.clicked{
    animation: spinner 1s; 
    animation-fill-mode: forwards;  
}
.clicked2{
  animation: spinner2 1s; 
  animation-fill-mode: forwards;  
}

@keyframes spinner {
    from {
      transform: rotate(0deg);
    }
  
    to {
        transform: rotate(90deg);
    }
  }
  @keyframes spinner2 {
    from {
      transform: rotateX(0deg);
    }
  
    to {
        transform: rotateX(180deg);
    }
  }
  .toggle__dot {
    top: -.25rem;
  /*  left: 1.5rem;*/
    transition: all 0.3s ease-in-out;
  }
  
  input:checked ~ .toggle__dot {
    transform: translateX(100%);
  }
  input:checked ~.shadow-inner{
    @apply bg-teal-400;
  }
  input:not(:checked) ~.shadow-inner{
    background-color: #C8D1D3;
  }

  .newsTextContainer{
    width: calc(100vw) - 6rem;
  }
  
  